.card {
  min-height: 600px;
}

.card-img {
  padding: 10px;
  height: 250px;
}

.card-img-wrapper {
  min-height: 250px;
}

.card-img-top{
  height: 270px !important;
}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }
