<div class="card">
  <div class="card-header">
    <h1>Add Property</h1>
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit(Form)" #Form="ngForm" >
      <div class="form-group col-12">
        <label for="name">Name</label>
        <input #name="ngModel" type="text" class="form-control" minlength="3" maxlength="25" ngModel name="name" required>
        <span *ngIf="!name.valid && name.touched" class="error-block">
          <span *ngIf="name.errors.required">Name is required!</span>
          <span *ngIf="name.errors.minlength">Name is atleast 3 char long!</span>
          <span *ngIf="name.errors.maxlength">Name should be less than 25 char long!</span>
        </span>
      </div>

      <div class="form-group col-12">
        <label for="type">Type</label>
        <input #type="ngModel" type="text" class="form-control" maxlength="25" ngModel name="type" required>
        <span *ngIf="!type.valid && type.touched" class="error-block">
          Type is required!
        </span>
      </div>

      <div class="form-group col-12">
        <label for="price">Price</label>
        <input #price="ngModel"  type="number" class="form-control"  min="0" ngModel name="price" required>
        <span *ngIf="!price.valid && price.touched" class="error-block">
          Price is required!
        </span>
      </div>

      <div class="form-group col-12">
        <button [disabled]="!Form.valid" type="submit" class="btn btn-primary mr-1">Save</button>
        <button type="reset" class="btn btn-primary" (onclick)="onBack()">Cancel</button>
      </div>
    </form>
  </div>
</div>
