<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Add form heading here
      </div>

      <div class="card-body">
        <form>
          <div class="form-group col-12">
            <label for="Label">Label</label>
            <input type="text" class="form-control" required>
          </div>

          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary mr-1">Save</button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
