.notfoundpage { margin-top: 40px !important; }
.nf_img { text-align: center; padding: 50px 0 0 0;}
.nf_op { text-align: center; padding: 50px 0 60px 0;}
.nf_op h4 { font-size: 17px; color: #636363; padding: 26px 0 25px 0;}
.nf_op svg {width: 320px;}
.home_btn{
  background: #28A745;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  padding: 11px 55px;
  text-decoration: none;
}
.nf_links { padding: 0 0 40px 0; text-align: center;; }
.nf_links a { display: inline-block; color: #626262; margin:0 3%; text-decoration: none; }
.nf_links a svg {
  position: relative;
  top: -2px;
  display: inline-block;
  margin-right: 6px;
}
.nf_img svg{ width: 265px;}
