.card {
  min-height: 600px;
}

.card-body h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #0069d9;
}

.card-img {
  padding: 10px;
  height: 250px;
}

.card-img-wrapper {
  min-height: 250px;
}

.card-img-top{
  height: 270px !important;
}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }
