<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Register
      </div>

      <div class="card-body">
        <form [formGroup]="userRegisterationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <label for="userName" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="userName" maxlength="25">
            <span *ngIf="!username.valid && username.touched" class="error-block">
              <span *ngIf="username.errors.required">User name is required!</span>
              <span *ngIf="username.errors.minlength">User name is atleast 3 char long!</span>
              <span *ngIf="username.errors.maxlength">User name should be less than 25 char long!</span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email" maxlength="25">
            <span *ngIf="!email.valid && email.touched" class="error-block">
              <span *ngIf="email.errors.required">Email is required!</span>
              <span *ngIf="email.errors.email">Provide a valid email!</span>
              <span *ngIf="email.errors.maxlength">email should be less than 25 char long!</span>
            </span>
          </div>

          <div class="col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" maxlength="25">
            <span *ngIf="!password.valid && password.touched" class="error-block">
              <span *ngIf="password.errors.required">Password is required!</span>
              <span *ngIf="password.errors.minlength">Password is atleast 6 char long!!</span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="confirmpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmpassword">
            <span *ngIf="!confirmpassword.valid && confirmpassword.touched" class="error-block">
              <span *ngIf="confirmpassword.errors.required">Please Confirm the password!</span>
            </span>
            <span *ngIf="userRegisterationForm.hasError('notmatched') && confirmpassword.valid" class="error-block">
              Password not matched!
            </span>
          </div>

          <div class="form-group col-12">
            <label for="mobileNo" class="form-label">Mobile No</label>
            <input type="text" class="form-control" formControlName="mobileNo" maxlength="15">
            <span *ngIf="!mobileNo.valid && mobileNo.touched" class="error-block">
              <span *ngIf="mobileNo.errors.required">Mobile number is required!</span>
              <span *ngIf="mobileNo.errors.maxlength">Provide a valid mobile no!</span>
            </span>
          </div>

          <div class="form-group col-12">
            <button [disabled]="!userRegisterationForm.valid" type="submit" class="btn btn-primary mr-1">Save</button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
