
.select-menu {
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.49rem;
}

.select-item {
  padding: 10px;
  font-weight: 400;
  color: #212529;
  background-color: transparent;
  border-radius: 5px;
}
